body {
	background: black;
	cursor: none;
	overflow: hidden;
	color: white;
	margin: 0;
}
.images {
	min-height: 3em;
}
.container {
	overflow: hidden;
	min-width: fit-content;
	min-width: -moz-fit-content;
}
img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.original-size {
	max-width: none;
}
.show-cursor {
	cursor: auto;
	overflow: auto;
}
a {
	color: white;
	text-decoration: none;
	background-color: #444;
}
a:hover,
a.active {
	background-color: #666;
}
.controls {
	text-align: center;
	margin: 1em;
}
.controls a {
	display: inline-block;
	padding: 0.3em 0.6em;
}
.dirs a {
	display: block;
	padding: 0.3em 0.6em;
	margin: 1px 1em;
}
.nav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	background: #444;
	line-height: 1;
	vertical-align: middle;
}
.nav:hover {
	display: block;
}
.nav a {
	display: inline-block;
	padding: 1em;
	vertical-align: middle;
}
.show-cursor .nav {
	display: block;
}
.right {
	position: absolute;
	right: 1em;
	top: 0;
}
.right > a {
	float: right;
}
.left {
	float: left;
}
.notify {
	background: #444;
	padding: 1em;
	position: fixed;
	top: 2em;
	right: 2em;
	width: 16em;
	display: none;
}
.bookmark-menu {
	display: none;
	margin-top: 3em;
}
.bookmark-menu a {
	display: block;
}
.dir-controls {
	margin: 1em;
}
.dir-search-box {
	width: 100%;
	box-sizing: border-box;
}
.show {
	display: block;
}
@supports (-webkit-appearance:none) {
	body {
		overflow: auto;
	}
}
